* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Lato', sans-serif;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 60px;
  clear: both;
  display: inline-block;
  z-index: 10000;
  align-items: center;
  background-color: #FFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

section {
  width: 100%;
  text-align: center;
}

h1 {
   -moz-animation-duration: 2s;
   -webkit-animation-duration: 2s;
   -moz-animation-name: slidein;
   -webkit-animation-name: slidein;
   font-size: 30pt;
   color: white;
   text-align: left;
   margin-top: 390px;
   padding-left: 30px;
   line-height: 45px;
   letter-spacing: 1px;
}

@-moz-keyframes slidein {
   from {
      margin-left:100%;
      width:300%
   }
   to {
      margin-left:0;
      width:100%;
   }
}
@-webkit-keyframes slidein {
   from {
      margin-left:100%;
      width:300%
   }
   to {
      margin-left:0%;
      width:100%;
   }
}

h2 {
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 35pt;
  color: rgb(52,73,94);
}

h3 {
  font-size: 15px;
  margin-bottom: 33px;
  color: rgb(52,73,94);
}

h4 {
   -moz-animation-duration: 2s;
   -webkit-animation-duration: 2s;
   -moz-animation-name: slidein;
   -webkit-animation-name: slidein;
   font-size: 15pt;
   color: white;
   text-align: left;
   margin-top: 5px;
   padding-left: 30px;
   line-height: 40px;
   word-spacing: 2px;
}

@-moz-keyframes slidein {
   from {
      margin-left:100%;
      width:300%
   }
   to {
      margin-left:0;
      width:100%;
   }
}
@-webkit-keyframes slidein {
   from {
      margin-left:100%;
      width:300%
   }
   to {
      margin-left:0%;
      width:100%;
   }
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

nav {
  margin: 0 auto;
  float: right;
  margin-top: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

li {
  display: inline-block;
  padding: 10px 0;
  margin: 0 15px;
  color: rgb(255,78,68);
}

#logo {
  margin-top: 5px;
  border-radius: 100%;
}

.underlined:hover{
  border-bottom: 2px solid rgb(255,78,68);
}

.contact {
  border: 1px solid rgb(255,78,68);
  padding: 10px;
  margin-left: 15px;
  border-width: 2px;
  border-top-right-radius: 8px;
  border-radius: 8px
}

.contact:hover {
  background-color: rgb(255,78,68);
  color: rgb(255,255,255);
  border-color: rgb(255,78,68);
}

.HERO {
  background: url("hero.jpg");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
  height: 590px;
  margin-top: 45px;
}

.overlayHERO{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2); /*dim the background*/
}

.weeks{
  width: 100%;
  display: inline-block;
  padding: 0;
  font-size: 30pt;
}

.week1 {
  float: left;
  background-color: red;
  color: white;
  text-shadow: 2px 2px 5px black;
  width: 16.66%;
  height: 350px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.week1:hover{
  background-color: red;
  font-size: 0;
}

.week1:hover:after{
  content: attr(data-hover);
  font-size: 25pt;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.week2 {
  float:left;
  background-color: orange;
  color: white;
  text-shadow: 2px 2px 5px black;
  width: 16.66%;
  height: 350px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid orange;
}

.week2:hover{
  background-color: orange;
  font-size: 0;
}

.week2:hover:after{
  content: attr(data-hover);
  font-size: 25pt;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.week3 {
  float: left;
  background-color: gold;
  color: white;
  text-shadow: 2px 2px 5px black;
  width: 16.66%;
  height: 350px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid gold;
}

.week3:hover{
  background-color: gold;
  font-size: 0;
}

.week3:hover:after{
  content: attr(data-hover);
  font-size: 25pt;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.week4 {
  float: left;
  background-color: green;
  color: white;
  text-shadow: 2px 2px 5px black;
  width: 16.66%;
  height: 350px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
}

.week4:hover{
  background-color: green;
  font-size: 0;
}

.week4:hover:after{
  content: attr(data-hover);
  font-size: 25pt;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.week5 {
  float: left;
  background-color: DodgerBlue;
  color: white;
  text-shadow: 2px 2px 5px black;
  width: 16.66%;
  height: 350px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid DodgerBlue;
}

.week5:hover{
  background-color: DodgerBlue;
  font-size: 0;
}

.week5:hover:after{
  content: attr(data-hover);
  font-size: 25pt;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.week6 {
  float: left;
  background-color: magenta;
  color: white;
  text-shadow: 2px 2px 5px black;
  width: 16.66%;
  height: 350px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid magenta;
}

.week6:hover{
  background-color: magenta;
  font-size: 0;
}

.week6:hover:after{
  content: attr(data-hover);
  font-size: 25pt;
  text-align: center;
  justify-content: center;
  padding: 20px;
}
